In [7]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt
import seaborn as sns

ratings = pd.read_csv("movie_ratings.csv")

print("Available columns in ratings.csv:", ratings.columns.tolist())

if 'userId' in ratings.columns:
    matrix = ratings.pivot_table(
        index='userId', columns='Movie_ID', values='Rating'
    )
else:
    print("\nError: 'userId' column not found. The dataset contains movies but no user identifiers.")
    print("To fix this, ensure your CSV includes a column for user IDs, or check if the column name is different.")

    matrix = pd.DataFrame()

Available columns in ratings.csv: ['Movie_ID', 'Title', 'Genre', 'Rating']

Error: 'userId' column not found. The dataset contains movies but no user identifiers.
To fix this, ensure your CSV includes a column for user IDs, or check if the column name is different.

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

cv = CountVectorizer(stop_words='english')

genre_matrix = cv.fit_transform(ratings['Genre'])

cosine_sim = cosine_similarity(genre_matrix, genre_matrix)

print("Content-based similarity matrix computed successfully.")

Content-based similarity matrix computed successfully.

In [9]:
def get_recommendations(title, top_n=5):
    try:
        idx = ratings[ratings['Title'] == title].index[0]
    except IndexError:
        return f"Movie '{title}' not found in the dataset."

    sim_scores = list(enumerate(cosine_sim[idx]))

    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    sim_scores = sim_scores[1:top_n+1]

    movie_indices = [i[0] for i in sim_scores]

    return ratings.iloc[movie_indices][['Title', 'Genre', 'Rating']]

print("Recommendations for 'Movie_1':")
display(get_recommendations('Movie_1'))

Recommendations for 'Movie_1':

       Title   Genre  Rating
6    Movie_7  Action     4.7
8    Movie_9  Action     3.7
17  Movie_18  Action     3.2
28  Movie_29  Action     4.5
31  Movie_32  Action     1.1